/*  
ColorLabs CSS Starter Kit
*/
/* ---------------------------------------------------------------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

#map_canvas img {
  max-width: none;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  border: 0;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  background-color: #fefefe;
}

.container {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  width: 100%;
  min-width: 0;
  margin: 0 auto;
  position: relative;
  max-width: 1170px;
}

.column {
  float: left;
  margin-left: 3.09091%;
}

.column:first-child {
  margin-left: 0;
}


/* Desktop Column
------------------------------------------------------------------- */
.col1 {
  width: 5.5%;
}

.col2 {
  width: 14.09091%;
}

.col3 {
  width: 22.68182%;
}

.col4 {
  width: 31.27273%;
}

.col5 {
  width: 39.86364%;
}

.col6 {
  width: 48.45455%;
}

.col7 {
  width: 57.04545%;
}

.col8 {
  width: 65.63636%;
}

.col9 {
  width: 74.22727%;
}

.col10 {
  width: 82.81818%;
}

.col11 {
  width: 91.40909%;
}

.col12 {
  width: 100%;
}

.column.alpha {
  clear: left;
  margin-left: 0;
}


/* Tablet Column
------------------------------------------------------------------- */
@media(min-width: 768px) {
  .col1-sm {
    width: 5.5%;
  }

  .col2-sm {
    width: 14.09091%;
  }

  .col3-sm {
    width: 22.68182%;
  }

  .col4-sm {
    width: 31.27273%;
  }

  .col5-sm {
    width: 39.86364%;
  }

  .col6-sm {
    width: 48.45455%;
  }

  .col7-sm {
    width: 57.04545%;
  }

  .col8-sm {
    width: 65.63636%;
  }

  .col9-sm {
    width: 74.22727%;
  }

  .col10-sm {
    width: 82.81818%;
  }

  .col11-sm {
    width: 91.40909%;
  }

  .col12-sm {
    width: 100%;
  }
}



/* Large Screen
------------------------------------------------------------------- */
@media (min-width: 992px) {
  .col1 {
    width: 5.5%;
  }

  .col2 {
    width: 14.09091%;
  }

  .col3 {
    width: 22.68182%;
  }

  .col4 {
    width: 31.27273%;
  }

  .col5 {
    width: 39.86364%;
  }

  .col6 {
    width: 48.45455%;
  }

  .col7 {
    width: 57.04545%;
  }

  .col8 {
    width: 65.63636%;
  }

  .col9 {
    width: 74.22727%;
  }

  .col10 {
    width: 82.81818%;
  }

  .col11 {
    width: 91.40909%;
  }

  .col12 {
    width: 100%;
  }
}



p {
  margin: 0 0 11px;
}
p small {
  font-size: 12px;
  color: #999999;
}

.lead {
  margin-bottom: 22px;
  font-size: 20px;
  font-weight: 200;
  line-height: 33px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 12px 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1,
h2,
h3 {
  line-height: 1.5
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.page-header {
  padding-bottom: 21px;
  margin: 22px 0;
  border-bottom: 1px solid #eeeeee;
}

.page-header h1 {
  line-height: 1;
}

ul, ol {
  padding: 0;
  margin: 0 0 11px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  line-height: 22px;
}

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

dl {
  margin-bottom: 22px;
}

dt,
dd {
  line-height: 22px;
}

dt {
  font-weight: bold;
  line-height: 21px;
}

dd {
  margin-left: 11px;
}

hr {
  margin: 22px 0;
  border: 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid white;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 22px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 27.5px;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

address {
  display: block;
  margin-bottom: 22px;
  font-style: normal;
  line-height: 22px;
}

small {
  font-size: 100%;
}

cite {
  font-style: normal;
}

code,
pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

code {
  padding: 2px 4px;
  color: #d14;
}

pre {
  display: block;
  padding: 10.5px;
  margin: 0 0 11px;
  font-size: 12.95px;
  line-height: 22px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

form {
  margin: 0 0 22px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 33px;
  font-size: 21px;
  line-height: 44px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
legend small {
  font-size: 16.5px;
  color: #999999;
}

label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
}

input,
button,
select,
textarea {
  font-family: sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 22px;
  padding: 4px 6px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 22px;
  color: #555555;
}

input,
textarea {
  width: 210px;
}

textarea {
  height: auto;
  resize: vertical;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #fff;
  border: 1px solid #e9e9e9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(67, 156, 34, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(73, 173, 36, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(73, 173, 36, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(73, 173, 36, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */
  line-height: normal;
  cursor: pointer;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

.uneditable-textarea {
  width: auto;
  height: auto;
}

select,
input[type="file"] {
  height: 28px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 28px;
}

select {
  width: 220px;
  border: 1px solid #bbb;
}

select[multiple],
select[size] {
  height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
  border-color: #ddd;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}


table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
table thead {
  background: #dddddd;
}
table thead th {
  border-color: #dddddd;
}

table {
  width: 100%;
  margin-bottom: 22px;
}
table th,
table td {
  padding: 8px;
  line-height: 22px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #dddddd;
}

table {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-left: 0;
}
table th,
table td {
  border-left: 1px solid #dddddd;
}
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}

.clearfix, .row {
  *zoom: 1;
}
.clearfix:before, .row:before, .clearfix:after, .row:after {
  display: table;
  content: "";
}
.clearfix:after, .row:after {
  clear: both;
}

.pull-right,
.alignright {
  float: right;
}

.pull-left {
  float: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.accel {
  -webkit-transform: translate3d(0, 0, 0);
}

/* Divider vertical */
.divider-vertical {
  width: 2px;
  height: 60px;
  background-size: 1px 100%;
  background-position: 0 0, 1px 0;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(-10%, transparent), color-stop(50%, rgba(0, 0, 0, 0.5)), color-stop(110%, transparent)), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(-10%, transparent), color-stop(50%, rgba(255, 255, 255, 0.4)), color-stop(110%, transparent));
  background-image: -webkit-linear-gradient(top, transparent -10%, rgba(0, 0, 0, 0.5), transparent 110%), -webkit-linear-gradient(top, transparent -10%, rgba(255, 255, 255, 0.4), transparent 110%);
  background-image: -moz-linear-gradient(top, transparent -10%, rgba(0, 0, 0, 0.5), transparent 110%), -moz-linear-gradient(top, transparent -10%, rgba(255, 255, 255, 0.4), transparent 110%);
  background-image: linear-gradient(top, transparent -10%, rgba(0, 0, 0, 0.5), transparent 110%), linear-gradient(top, transparent -10%, rgba(255, 255, 255, 0.4), transparent 110%);
}

.hide-text {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.hr-ruler {
  margin: 45px 0;
  border: none;
  height: 1px;
  background: #d5d5d5;
}
.cssgradients .hr-ruler {
  background-color: transparent;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(213, 213, 213, 0)), color-stop(50%, #d5d5d5), color-stop(100%, rgba(213, 213, 213, 0)));
  background-image: -webkit-linear-gradient(left, rgba(213, 213, 213, 0), #d5d5d5, rgba(213, 213, 213, 0));
  background-image: -moz-linear-gradient(left, rgba(213, 213, 213, 0), #d5d5d5, rgba(213, 213, 213, 0));
  background-image: linear-gradient(left, rgba(213, 213, 213, 0), #d5d5d5, rgba(213, 213, 213, 0));
}
.cssgradients .hr-ruler.no-bg {
  background: none;
}

.hr-double {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  height: 2px;
  margin: 43px 10px;
}


/* =================================================================== 
  Responsive: Landscape phone to desktop/tablet
=================================================================== */
@media (max-width: 767px) {
  .container {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .row-fluid {
    width: 100%;
  }

  .column {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .col1-xs, .col2-xs, .col3-xs,
  .col4-xs, .col5-xs, .col6-xs,
  .col7-xs, .col8-xs, .col9-xs,
  .col10-xs, .col11-xs, .col12-xs {
    float: left;
  }

  .col1-xs {
    width: 5.5%;
  }

  .col2-xs {
    width: 14.09091%;
  }

  .col3-xs {
    width: 22.68182%;
  }

  .col4-xs {
    width: 31.27273%;
  }

  .col5-xs {
    width: 39.86364%;
  }

  .col6-xs {
    width: 48.45455%;
  }

  .col7-xs {
    width: 57.04545%;
  }

  .col8-xs {
    width: 65.63636%;
  }

  .col9-xs {
    width: 74.22727%;
  }

  .col10-xs {
    width: 82.81818%;
  }

  .col11-xs {
    width: 91.40909%;
  }

  .col12-xs {
    width: 100%;
  }
}



/* ===================================================================
  BUTTONS
=================================================================== */
.btn,
input[type="submit"],
.comment-respond input[type="submit"] {
  display: inline-block;
  padding: 7px 15px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}
.btn:focus,
input[type="submit"], {
  outline: 0;
  outline: 0;
  outline-offset: -2px;
}
.btn-bold,
input[type="submit"],
.comment-respond input[type="submit"] {
  font-weight: bold;
}
.btn-uppercase {
  font-size: 11px;
  text-transform: uppercase;
}
.btn-wide,
input.btn-wide {
  padding-left: 30px;
  padding-right: 30px;
}
.btn-rounded {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.btn-block {
  display: block;
}

/* Button Size
------------------------------------------------------------------- */
.btn-small,
input.btn-small {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 11px;
}
.btn-mini {
  font-size: 11px;
  padding: 3px 5px;
}
.btn-mini.btn-uppercase {
  font-size: 10px;
}
.btn:hover {
  text-decoration: none;
}


/* Button No Background
------------------------------------------------------------------- */
.btn-no-bg {
  border-width: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-style: solid;
}

/* Button Text Color
------------------------------------------------------------------- */
.btn-primary,
.btn-primary:hover,
.btn-primary.btn-no-bg:hover,
.btn-darkgray,
.btn-darkgray:hover,
.btn-lightgreen,
.btn-lightgreen:hover,
.btn-red,
.btn-red:hover{
  color: #fff;
}

/* Button Primary
------------------------------------------------------------------- */
.btn-primary {
  background: #53a71d;
}
.btn-primary.btn-no-bg {
  background: none;
  color: #53a71d;
  border-color: #53a71d;
}
.btn-primary.btn-no-bg:hover {
  background: #53a71d;
}

/* Btn Gray
------------------------------------------------------------------- */
.btn-darkgray {
  background: #5e5d5e;
}

/* Button Light Green
------------------------------------------------------------------- */
.btn-lightgreen {
  background: #9fa69b;
}

/* Button Red
------------------------------------------------------------------- */
.btn-red {
  background: #FF3A34;
}